/*
      --- CUSTOM VARIABLES ---
*/

/*   --- BG colors ---   */
// Keep colors dark with low saturation
$bg-prim: #202b34;
$bg-sec: #273835;
$dark-sky: #19191c; // Dark desaturated blue tone
$deep-sky: #0e0f1d; // Dark purplish blue

/*   --- HUD colors ---   */
// These colors should contrast nicely with the BG colors
$hud-main: #BF702B;
$hud-bg-prim: #21131e;
$hud-bg-sec: #231414;
$hud-light-warm: #f6eec8;
$hud-light-cool: #9FEBF3;

/*   --- Grey values ---   */
$grey-9: rgb(216,216,216);
$grey-8: rgb(204,204,204);
$grey-6: rgb(153,153,153);
$grey-6: rgb(153,153,153);
$grey-3: rgb(76,76,76);
$grey-2: rgb(51,51,51);