/*
      --- CUSTOM VARIABLES ---
*/
/*   --- BG colors ---   */
/*   --- HUD colors ---   */
/*   --- HUD Interactive colors ---   */
/*   --- Grey values ---   */
/*
      --- MIXINS & FUNCTIONS ---
*/
/*
      --- BASE LAYOUT AND RESET ---
*/
/*   --- Main navbar ---   */
.navbar-bg {
  width: 100%;
  height: 60px;
  background-color: #19191c;
}

.navbar {
  background-color: #19191c;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.main-menu {
  padding: 0;
}
.main-menu__item {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.1rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.main-menu__item a:hover, .main-menu__item a:focus {
  color: white;
  text-shadow: 0 0 8px #f6eec8;
}

/*   --- Main Footer ---   */
.main-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 25px;
  background-color: #19191c;
  text-align: center;
}
.main-footer__copyright {
  color: #999999;
  font-size: 0.8rem;
}

/*
      --- BUTTONS ---
*/
.cta-btn {
  background-color: #202b34;
  border: 1px solid #334554;
  border-radius: 0;
  color: #cccccc;
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  transition: all ease-in-out 0.2s;
}
.cta-btn:hover, .cta-btn:focus {
  background-color: black;
  border-color: #475f73;
  color: white;
}
.cta-btn--small {
  padding: 0.5rem 1rem;
}

.hud-btn {
  border-radius: 0;
  border: 1px solid #f6eec8;
  background-color: #f6eec8;
  font-family: "Saira Condensed", sans-serif;
  color: #19191c;
  padding: 2px 8px;
  box-sizing: border-box;
  transition: ease-in-out 0.2s;
}
.hud-btn:hover, .hud-btn:active, .hud-btn:focus {
  background-color: #19191c;
  color: #f6eec8;
  outline: none;
}
.hud-btn--disabled {
  border-color: #999999;
  background-color: #999999;
  color: #d8d8d8;
}
.hud-btn--disabled:hover {
  border-color: #999999;
  background-color: #999999;
  color: #d8d8d8;
}

/*
      --- BASE LAYOUT AND RESET ---
*/
/*   --- RESET ---   */
a:hover {
  text-decoration: none;
}

/*   --- BASE LAYOUT ---   */
html, body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #d8d8d8;
}

.main-wrapper {
  min-height: 100%;
  padding: 60px 0 25px;
  color: #19191c;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: capitalize;
}

.hud-text {
  font-family: "Saira Condensed", sans-serif;
}

.link {
  font-family: "Saira Condensed", sans-serif;
  font-size: 1rem;
  text-decoration: underline;
  color: #0e0f1d;
  font-weight: bold;
}
.link:hover, .link:active {
  color: #4181f1;
}

.dark-fade-bottom {
  background-image: linear-gradient(to top, black 5%, rgba(0, 0, 0, 0) 95%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}

/*
      --- HOME PAGE ---
*/
.landing {
  height: 100%;
  background: url("../img/landing_bg_mob.jpg") center bottom;
  background-size: cover;
}

.landing-bg-gradient {
  position: absolute;
  top: 0;
  height: 50%;
  min-height: 150px;
  width: 100%;
  background-image: linear-gradient(#0e0f1d 5%, rgba(14, 15, 29, 0) 95%);
}

.landing-logo {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
}
.landing-logo__img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*   --- Home Page Media Queries ---   */
@media (orientation: landscape) and (max-width: 767px) {
  .landing {
    background-position: 0 calc(100% + 40vh);
  }
}
@media (min-width: 768px) {
  .landing {
    background-image: url("../img/landing_bg_tab.jpg");
  }
}
@media (min-width: 1200px) {
  .landing {
    background-image: url("../img/landing_bg_desk.jpg");
  }
}
/*
      --- ABOUT  PAGE ---
*/
.about-bg {
  background: url("../img/about_bg_mob.jpg") fixed center no-repeat;
  background-size: cover;
  padding-left: 30px;
  padding-right: 30px;
}

.about-us,
.contact-us {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.65);
  max-width: 540px;
  margin: 30px auto;
}

.about-us__social {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px -10px rgba(14, 15, 29, 0);
  transition: ease-in-out 0.3s;
}
.about-us__social:hover {
  box-shadow: 0 5px 5px -5px #0e0f1d;
}

/*   --- Form ---   */
.contact-form__label {
  color: #333333;
  font-size: 0.9rem;
}
.contact-form__helper {
  padding-left: 10px;
  color: #4c4c4c;
  font-style: italic;
  font-size: 0.8rem;
}
.contact-form__field {
  border-radius: 0;
  border: 1px solid transparent;
  background-color: rgba(25, 25, 28, 0.5);
  color: #cccccc;
}
.contact-form__field::placeholder {
  color: #cccccc;
  font-size: 0.8rem;
  font-style: italic;
}
.contact-form__field:focus {
  background-color: rgba(25, 25, 28, 0.5);
  color: #cccccc;
  border-color: #f6eec8;
  box-shadow: 0 0 5px 0 #f6eec8 inset;
}
.contact-form__field:focus:invalid + .contact-form__helper {
  color: #ba0707;
}
.contact-form__field:valid + .contact-form__helper {
  opacity: 0;
}

.modal-content {
  background-color: #cccccc;
  color: #333333;
}

/*   --- About Page Media Queries ---   */
@media (min-width: 768px) {
  .about-bg {
    background-image: url("../img/about_bg_tab.jpg");
  }
}
@media (min-width: 1200px) {
  .about-bg {
    background-image: url("../img/about_bg_desk.jpg");
  }
}
/*
      --- HOME PAGE ---
*/
.explore-wrapper {
  background-color: #202b34;
}

.explore {
  background-color: black;
}
.explore__landing {
  position: relative;
  background: url("../img/explore_header_bg.jpg") fixed no-repeat;
  background-position: center calc(50% - 100px);
  background-size: cover;
  height: 33vh;
  min-height: 250px;
  width: 100%;
}
.explore__intro {
  background: linear-gradient(black, #19191c 55%, #0e0f1d);
  padding: 20px;
  height: 80vh;
}
.explore__intro p {
  max-width: 540px;
  color: #cccccc;
  margin-left: auto;
  margin-right: auto;
}

/*   --- Console ---   */
.console-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.console {
  background-image: linear-gradient(0deg, #21131e 5%, #0e0f1d 95%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #f6eec8;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}
.console__header, .console__footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 10px;
  padding-top: 10px;
}
.console__header {
  flex-direction: column;
  border-bottom: 2px solid #a9bdc4;
}
.console__header .hud-title {
  background-color: rgba(246, 238, 200, 0.5);
  border-left: 6px solid #f6eec8;
  color: #19191c;
  padding: 10px 20px;
  text-align: center;
}
.console__header .hud-description {
  border: 1px solid #f6eec8;
  flex-grow: 1;
  font-size: 1rem;
}
.console__footer {
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid #a9bdc4;
}
.console__media {
  position: relative;
}
.console__media img {
  display: block;
  position: relative;
  max-height: 60vh;
  width: 100%;
  object-fit: contain;
  padding: 20px;
  mix-blend-mode: screen;
  margin-left: auto;
  margin-right: auto;
}
.console__media figcaption {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.hud-tag {
  color: #a9bdc4;
  padding: 2px 8px;
}
.hud-tag--outline {
  border-radius: 0;
  border: 1px solid #a9bdc4;
}
.hud-tag--box {
  border: 1px solid #a9bdc4;
  background-color: #a9bdc4;
  color: #19191c;
}

.star-stripe {
  display: block;
  height: 350px;
  width: 100%;
  background: url("../img/star_stripe_mob.jpg") fixed center no-repeat;
  background-size: cover;
  box-shadow: 0 50px 50px -30px black inset, 0 -50px 50px -30px black inset;
}

@media (min-width: 768px) {
  .console__header {
    flex-direction: row;
  }
  .console__header .hud-title {
    margin-right: 10px;
    text-align: left;
  }

  .star-stripe {
    background-image: url("../img/star_stripe_tab.jpg");
  }
}
@media (min-width: 1200px) {
  .star-stripe {
    background-image: url("../img/star_stripe_desk.jpg");
  }
}

/*# sourceMappingURL=main.css.map */
