/*
      --- BASE LAYOUT AND RESET ---
*/
html, body {
  height: 100%;
}
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: $grey-9 ;
}
.main-wrapper {
  min-height: 100%;
  // safe-zone: navbar, footer
  padding: 60px 0 25px;
  color: $dark-sky;
}
.title {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: capitalize;
}
