/*
      --- BASE LAYOUT AND RESET ---
*/
html, body {
  height: 100%;
}
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: $grey-9 ;
}
.main-wrapper {
  min-height: 100%;
  // safe-zone: navbar, footer
  padding: 60px 0 25px;
  color: $dark-sky;
}
.title {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: capitalize;
}
.hud-text {
  font-family: 'Saira Condensed', sans-serif;
}
.link {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1rem;
  text-decoration: underline;
  color: $deep-sky;

  &:hover, &:active {
    color: $hud-cta-main;
  }
}
.dark-fade-bottom {
  background-image: linear-gradient(to top, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 95%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}