/*
      --- HOME PAGE ---
*/
.landing {
  height: 100%;
  background: url('../img/landing_bg_mob.jpg') center bottom;
  background-size: cover;
}
.landing-bg-gradient {
  position: absolute;
  top: 0;
  height: 50%;
  min-height: 150px;
  width: 100%;
  @include bg-gradient($deep-sky);
}

.landing-logo {
  position: relative;
  top: 35%;
  transform: translateY(-50%);

  &__img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.landing-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*   --- Home Page Media Queries ---   */
@media (orientation: landscape) and (max-width: 767px) {
  .landing {
    background-position: 0 calc(100% + 40vh);
  }
}

@media (min-width: 768px) {
  .landing {
    background-image: url("../img/landing_bg_tab.jpg");
  }
}

@media (min-width: 1200px) {
  .landing {
    background-image: url("../img/landing_bg_desk.jpg");
  }
}